.custom-tooltip-session {
  background-color: white;
  width: 55px;
  height: 30px;
  margin-left: 7px;
}

.tooltip-data-session {
  padding-top: 10px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}
