.navbar {
  background-color: black;
  color: white;
  width: 115px;
  // height: 846px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 90px;

  &__icons {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 64px;
      height: 64px;
      margin-bottom: 25px;
    }
  }

  p {
    width: max-content;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    font-size: 12px;
  }
}
