.home {
  &__profile {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    border-radius: 20px;
    margin: 50px;
  }
}
